extends layout_admin

block content
    style.
        #update_profile td, #update_profile th {
            border: 1px solid #707070;
            text-align: left;
            padding: 8px;
            background-color: #FAFAFA;
        }
        #update_profile td {min-width: 170px;}
        #go_back {padding: 10px 5px; text-decoration-line: none; font-size: 17px; margin-left: 148px;}
        .error-list {color: red;}
        .update_input {width: 168px; font-size: 15px;}
        #update_status {width: 175px; font-size: 15px;}

    h1 Update Profile

    form(action=`/admin/update_profile/${userId}` method="POST")
        table#update_profile
            tr
                th First Name:
                td
                    input.update_input(
                        type="text",
                        name="first_name",
                        value=first_name,
                        required,
                    )
            tr
                th Family Name:
                td
                    input.update_input(
                        type="text",
                        name="family_name",
                        value=family_name,
                        required,
                    )
            tr
                th Date of Birth:
                td
                    input.update_input(
                        type="date",
                        name="date_of_birth",
                        value=date_of_birth,
                        required,
                    )
            tr
                th Status:
                td
                    select#update_status(name='status' required)
                        if statuss === "Employee"
                            option(value='Employee' selected) Employee
                            option#AdminOption(value='Admin') Admin
                        else
                            option(value='Employee') Employee
                            option#AdminOption(value='Admin' selected) Admin
            tr
                th Role:
                td
                    input.update_input(
                        type="text",
                        name="role",
                        value=role,
                        required,
                    )
            tr
                th Address:
                td
                    input.update_input(
                        type="text",
                        name="address",
                        value=address,
                        required,
                    )
            tr
                th Hourly Rate:
                td
                    input.update_input(
                        type="number",
                        name="hourly_rate",
                        value=hourly_rate,
                        required,
                    )
            tr
                th Hours per Week:
                td
                    input.update_input(
                        type="number",
                        name="hours_per_week",
                        value=hours_per_week,
                        required,
                    )
        button(type="submit", style="margin-left: 150px; margin-top: 5px;") Save Changes

    a#go_back(href="javascript:history.back()") - Go back

    if errors
        ul.error-list
            each err in errors
                li.error-item= typeof err === 'object' && err.msg ? err.msg : err
