extends layout_admin

block content
    style.
        #Profile td, #Profile th {
            border: 1px solid #707070;
            text-align: left;
            padding: 8px;
            background-color: #FAFAFA;
        }
        #Profile td {min-width: 170px;}
        #see_schedule {text-decoration-line: none; font-size: 17px;}

    h1 Profile

    table#Profile
        tr
            th Name:
            td #{fullname}
        tr
            th Date of Birth:
            td #{lifespan}
        tr
            th Status:
            td #{statuss}
        tr
            th Address:
            td #{address}
        tr
            th Hourly Rate:
            td #{hourly_rate} dkk/h
        tr
            th Hours per Week:
            td #{hours_per_week}

    if view_profile
        a#see_schedule(href=`/admin_edit_employee_schedule/#{userId}`) - See schedule