extends layout_admin

block content
    link(rel='stylesheet' href='/stylesheets/Schedule.css')
    script(src="/scripts/buttonRunPyAlgorithm.js")
    script.
        let weekIndex = !{weekIndex};
        let weekNumber = !{weekNumber};

        function previousWeek() {
            weekIndex -= 1;
            window.location.href = `/admin/edit_schedule?week=${weekIndex}`;
        }

        function nextWeek() {
            weekIndex += 1;
            window.location.href = `/admin/edit_schedule?week=${weekIndex}`;
        }

        function runAlgorithmWithParam(param) {
            fetch('/admin/run_algorithm', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({param: param})
            })
                .then(response => {
                    if (response.ok) {
                        if(confirm('Algorithm started, reload the page?')) history.back()
                    } else {
                        alert('Failed to start algorithm');
                    }
                })
                .catch(() => alert('Error starting algorithm'));
        }

    if weekIndex === weekNumber
        h1 Edit Schedule - Week #{weekIndex} - This week
    else
        h1 Edit Schedule - Week #{weekIndex}

    button#previousWeek(onclick="previousWeek()" class="save_schedule_button" disabled=weekIndex === 1) <- Previous Week
    button#nextWeek(onclick="nextWeek()" class="save_schedule_button" style="margin-left: 5px;") Next Week ->

    form(action="/admin/edit_schedule" method="POST")
        input(type="hidden", name="weekIndex", value=weekIndex)
        table(border="1" style="margin-top: 5px;" class='table_schedule')
            thead
                tr
                    th Username
                    each day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
                        th= day.slice(0, 3) + ", " + datesForWeek[day]
            tbody
                each user in users
                    - var schedule = scheduleMap.get(user._id.toString()) || {}
                    tr
                        td= user.fullname
                        each dayKey in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
                            if ['Saturday', 'Sunday'].includes(dayKey)
                                td
                                    span(style="color: black") Closed
                            else
                                td
                                    input(
                                        type="text",
                                        name=`${schedule.employee}_week_${weekIndex}_${dayKey}_start`,
                                        value=schedule[`${dayKey}_start`] || ''
                                        style="width: 70px; margin-right: 1px;"
                                        )
                                    input(
                                        type="text",
                                        name=`${schedule.employee}_week_${weekIndex}_${dayKey}_end`,
                                        value=schedule[`${dayKey}_end`] || ''
                                        style="width: 70px; margin-right: 1px;"
                                    )

        button(type="submit", class='save_schedule_button' style="margin-left: 148px; transform: translateY(5px)") Save Changes
    - const weekDiff = weekIndex - weekNumber
    button(
        onclick=`if(confirm('Are you sure you want to generate the schedule with the algorithm?')) runAlgorithmWithParam(${weekDiff})`
        class='save_schedule_button'
        style="margin-left: 148px; transform: translateY(10px)"
    ) Generate Schedule with Algorithm