extends layout_admin

block content
    link(rel='stylesheet' href='/stylesheets/Schedule.css')
    style.
        ul {transform: translateX(20px);}
    h1= title

    p= "Employees:"
    if employees && employees.length
        ul
            each employee in employees
                li
                    a(href=`/admin/view_profile/${employee._id}`, class='hiper_link_style') !{employee.fullname}
    else
        p.error No employees found.
    hr
    p= "Admins:"
    if admins && admins.length
        ul
            each admin in admins
                li
                    a(href=`/admin/view_profile/${admin._id}`, class='hiper_link_style') !{admin.fullname}
    else
        p.error No admins found.

