extends layout_admin

block content
    link(rel='stylesheet' href='/stylesheets/Schedule.css')
    style.
        ul {transform: translateX(20px);}
        #individualPayTable {
            margin-left: 148px;
        }
        #individualPayTable td, #individualPayTable th {
            border: 1px solid #707070;
            text-align: left;
            padding: 8px;
            background-color: #FAFAFA;
        }

        #individualPayTable td {
            min-width: 50px;
        }

        #totalPay {
            margin-left: 148px;
            font-size: 20px;
        }
    h1= title

    p= "Employees:"
    if employees && employees.length
        ul
            each employee in employees
                li
                    a(href=`/admin/view_profile/${employee._id}`, class='hiper_link_style') !{employee.fullname}
    else
        p.error No employees found.
    hr
    p= "Admins:"
    if admins && admins.length
        ul
            each admin in admins
                li
                    a(href=`/admin/view_profile/${admin._id}`, class='hiper_link_style') !{admin.fullname}
    else
        p.error No admins found.

    if users && users.length
        p#totalPay Total pay this week: #{totalPay} Kroner

        - let sortedUsers = [...users].sort((a, b) => individualPay[b] - individualPay[a])
        table#individualPayTable
            thead
                tr
                    th Name
                    th Max Hours
                    th Hours
                    th Overtime
                    th Hourly Rate
                    th Pay This Week
            each user in sortedUsers
                - let hoursThisWeek = individualPay[user] / hourlyRate[user]
                - let overtime = 0
                - let finalPay = individualPay[user]
                tr
                    th #{user.fullname}
                    td #{user.hours_per_week}
                    td #{hoursThisWeek}
                    if hoursThisWeek > user.hours_per_week
                        - overtime = hoursThisWeek - user.hours_per_week
                        - finalPay = individualPay[user] + overtime * hourlyRate[user] * 0.5
                        td #{overtime}
                    else
                        td
                    td #{hourlyRate[user]} DKK/h
                    td #{finalPay} Kroner