doctype html
head
    meta(charset='UTF-8')
    title Employees
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' href='../../CSS/HOME%20ADMIN.css')
    link(rel='stylesheet' type='text/css' href='../../CSS/Employees.css')
.topnav
    a(href='admin_home.pug') Home
    a(href='admin_schedule.pug') Schedule
    a.active(href='admin_employees.pug') Employees
    a(href='login.pug') Logout
    img(src='WFM.webp' alt='WFM logo')
.box
    p.Message_box_header(style='text-align: center') Message box
    p.Messages(style='text-align: center') You have 3 pending requests
table#tableEmployees
    tr
        th Name
    tr
        td Peter
    tr
        td Shoaib
    tr
        td Viktor
    tr
        td Mads
    tr
        td Tue -->

// old ^^ new:

extends layout_employee

block content
    h1= title
    if employees.length
        ul
            each user in employees
                li
                    a(href=user.url) !{user.fullname}
                    |  (#{user.role})
    if admins.length
        ul
            each user in admins
                li
                    a(href=user.url) !{user.fullname}
                        |  (#{user.role})
    else
        p There are no users.
