extends layout_admin

block content
    h1= title

    .userlist
        h2= "Employees:"
        if employees && employees.length
            ul
                each employee in employees
                    li
                        a(href=`/admin/view_profile/${employee._id}`) !{employee.fullname}
        else
            p No employees found.
        hr
        h2= "Admins:"
        if admins && admins.length
            ul
                each admin in admins
                    li
                        a(href=`/admin/view_profile/${admin._id}`) !{admin.fullname}
        else
            p No admins found.

