extends layout_admin

block content
    style.
        #update_profile td, #update_profile th {
            border: 1px solid #707070;
            text-align: left;
            padding: 8px;
            background-color: #FAFAFA;
        }
        #update_profile td {min-width: 170px;}
        #go_back {padding: 5px; text-decoration-line: none; font-size: 17px; margin-left: 148px; margin-top: 10px;}
        .error-list {color: red;}
        .update_input {width: 168px; font-size: 15px;}

    h1 Update Profile

    form(action="/admin/update_profile/:userId" method="POST")
        table#update_profile
            tr
                th First Name:
                td
                    input.update_input(
                        type="text",
                        name="first_name",
                        value=first_name,
                    )
            tr
                th Family Name:
                td
                    input.update_input(
                        type="text",
                        name="family_name",
                        value=family_name,
                    )
            tr
                th Date of Birth:
                td
                    input.update_input(
                        type="date",
                        name="date_of_birth",
                        value=date_of_birth,
                    )
            tr
                th Status:
                td
                    input.update_input(
                        type="text",
                        name="status",
                        value=statuss,
                    )
            tr
                th Role:
                td
                    input.update_input(
                        type="text",
                        name="role",
                        value=role,
                    )
            tr
                th Address:
                td
                    input.update_input(
                        type="text",
                        name="address",
                        value=address,
                    )
            tr
                th Hourly Rate:
                td
                    input.update_input(
                        type="number",
                        name="hourly_rate",
                        value=hourly_rate,
                    )
            tr
                th Hours per Week:
                td
                    input.update_input(
                        type="number",
                        name="hours_per_week",
                        value=hours_per_week,
                    )
        button(type="submit", style="margin-left: 150px; margin-top: 5px;") Save Changes

    a#go_back(href="javascript:history.back()") - Go back

    if errors
        ul.error-list
            each err in errors
                li.error-item= err.msg
