extends layout_admin

block content
    h1 Edit Schedule - Week #{weekNumber}
    link(rel='stylesheet' href='/stylesheets/Schedule.css')
    script(src="/scripts/buttonRunPyAlgorithm.js")
    script.
        let weekIndex = !{weekIndex};
        const schedulesByWeek = !{JSON.stringify(schedulesByWeek)};

        function previousWeek() {
            weekIndex -= 1;
            window.location.href = `/admin/edit_schedule?week=${weekIndex}`;
        }

        function nextWeek() {
            weekIndex += 1;
            window.location.href = `/admin/edit_schedule?week=${weekIndex}`;
        }

        function runAlgorithm() {
            fetch('/admin/run_algorithm', {method: 'POST'})
                .then(response => {
                    if (response.ok) {
                        alert('Algorithm started');
                    } else {
                        alert('Failed to start algorithm');
                    }
                })
                .catch(() => alert('Error starting algorithm'));
        }

    if weekIndex === 0
        p - This Week

    button#previousWeek(onclick="previousWeek()" disabled=weekIndex === 0) <- Previous Week
    button#nextWeek(onclick="nextWeek()" disabled=weekIndex === schedulesByWeek.length - 1) Next Week ->

    form(action="/admin/edit_schedule" method="POST")
        table(border="1" style="margin-top: 40px;" class='table_schedule')
            thead
                tr
                    th Username
                    each day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
                        th= day
            tbody
                each schedule in schedulesByWeek[weekIndex].schedules
                    tr
                        td= users[schedule.employee].fullname
                        each dayKey in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
                            if ['Saturday', 'Sunday'].includes(dayKey)
                                td
                                    span(style="color: black") Closed
                            else
                                td
                                    input(
                                        type="text",
                                        name=`${schedule.employee}_week_${weekIndex}_${dayKey}_start`,
                                        value=schedule[`${dayKey}_start`] || ''
                                        style="width: 70px; margin-right: 1px;"
                                        )
                                    input(
                                        type="text",
                                        name=`${schedule.employee}_week_${weekIndex}_${dayKey}_end`,
                                        value=schedule[`${dayKey}_end`] || ''
                                        style="width: 70px; margin-right: 1px;"
                                    )
        button(type="submit", class='save_schedule_button' style="margin-left: 148px; transform: translateY(5px)") Save Changes
    button(
        onclick="if(confirm('Are you sure you want to generate the schedule with the algorithm?')) runAlgorithm()"
        class='save_schedule_button'
        style="margin-left: 148px; transform: translateY(10px)"
    ) Generate Schedule with Algorithm