extends layout_admin

block content
    style.
        #Profile {
            margin-top: 10px;
        }
        #Profile td, #Profile th {
            border: 1px solid #707070;
            text-align: left;
            padding: 8px;
            background-color: #FAFAFA;
        }
    h1 Profile

    table#Profile
        tr
            th Name:
            td #{fullname}
        tr
            th Date of Birth:
            td #{lifespan}
        tr
            th Status:
            td #{statuss}
        tr
            th Address:
            td #{address}
        tr
            th Hourly Rate:
            td #{hourly_rate}kr/hour
        tr
            th Hours per Week:
            td #{hours_per_week}
