extends layout_employee

block content
    head
        link(rel='stylesheet' href='/stylesheets/Schedule.css')
        script(src='/scripts/interactiveSchedule.js')

    .box
        p.Message_box_header(style='text-align: center') Message box
        p.Messages(style='text-align: center') Editing: #{username}'s Schedule

    h2 Schedule for #{username}

    - var safeSchedule = typeof schedule !== 'undefined' ? schedule : {};

    table#tableA
        tr
            th WEEK #/A
            each day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
                th= day
            th Norm
            th Flex-Week
            th Flex-Bank
        tr
            td Self
            each day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
                - var value = safeSchedule[day] || ''
                td.shift-cell(
                    data-day=day,
                    onclick='showStatusMenu(this)',
                    class=value.toLowerCase()
                )= value
            td 37
            td +3
            td 12

    table#tableB
        tr
            th WEEK #/B
            each day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
                th= day
            th Norm
            th Flex-Week
            th Flex-Bank
        tr
            td Self
            each day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
                - var value = safeSchedule[day] || ''
                td.shift-cell(
                    data-day=day,
                    onclick='showStatusMenu(this)',
                    class=value.toLowerCase()
                )= value
            td 37
            td +3
            td 12

    form(method='POST' action=`/admin_edit_employee_schedule/${username}`)
        input(type='hidden' name='schedule' id='scheduleInput')
        button(type='submit') Save Schedule

    ul.legend
        li
            span.Available
            |  Available
        li
            span.Maternity
            |  M/Paternity leave
        li
            span.PTO
            |  PTO/vacation
        li
            span.Sick
            |  Sick
