extends layout_employee

block content
    style.
        #Profile td, #Profile th {
            border: 1px solid #707070;
            text-align: left;
            padding: 8px;
            background-color: #FAFAFA;
        }
        #Profile td {min-width: 170px;}

    h1 Profile

    table#Profile
        tr
            th Name:
            td #{fullname}
        tr
            th Date of Birth:
            td #{lifespan}
        tr
            th Status:
            td #{statuss}
        tr
            th Role:
            td #{role}
        tr
            th Address:
            td #{address}
        tr
            th Hourly Rate:
            td #{hourly_rate} DKK/h
        tr
            th Hours per Week:
            td #{hours_per_week}
        tr
            th Pay This Week:
            td #{payThisWeek} Kroner

