extends layout_employee

block content
    head
    link(rel='stylesheet' type='text/css' href='/stylesheets/Schedule.css')

    table(style="margin-top: 10px;")#Profile
        tr
            th Name:
            td #{fullname}
        tr
            th Date of Birth:
            td #{lifespan}
        tr
            th Status:
            td #{statuss}
        tr
            th Address:
            td #{address}
        tr
            th Hourly Rate:
            td #{hourly_rate}kr/hour
        tr
            th Hours per Week:
            td #{hours_per_week}


